{% extends "templates/web.html" %}

{% block page_content %}
<style>
  .at-webapp-breakout {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow-x: clip;
  }

  .at-webapp-breakout #app {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
</style>

<div class="at-webapp-breakout">
  <div id="app"></div>
</div>

<script>
  window.AT_SESSION_BOOT = {{ at_session | tojson }};
  window["__AT_SESSION__"] = window.AT_SESSION_BOOT;
</script>

{% for css_path in at_css_includes %}
<link rel="stylesheet" href="{{ css_path }}">
{% endfor %}

{% for js_path in at_js_includes %}
<script type="module" src="{{ js_path }}"></script>
{% endfor %}
{% endblock %}
